@import '@/app/styles/variables.scss';
.aboutContent {
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  background-color: #070707;

  .mainTitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
  }

  p {
    margin: 0;
    font-size: $font-size-base;
    color: $color-text-secondary;
  }

  h2 {
    font-size: $font-size-xl;
    font-weight: 500;
    color: $color-text-primary;
  }

  ul {
    margin-bottom: $spacing-lg;
    text-decoration: none;

    li {
      margin-bottom: $spacing-sm;
      color: $color-text-secondary;
      list-style: none;

      a {
        color: $color-primary;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  strong {
    color: $color-text-primary;
    font-weight: bold;
  }
}
