@import '@/app/styles/variables.scss';
.aboutContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #070707;

  .aboutHeader {
    text-align: center;
    padding: 32px;
    border-bottom: 1px solid $color-border;

    h1 {
      font-size: 32px;
      font-weight: 700;
      line-height: 1.4;
      letter-spacing: -0.5px;
    }
  }

  .aboutMain {
    padding: 24px;
    border-bottom: 1px solid $color-border;

    h2 {
      font-size: 32px;
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 24px;
    }

    ul { 
      li {
        line-height: 1.7;
        color: #656565;
        list-style: none;
        font-size: 16px;
        font-weight: 400;
  
        a {
          color: $color-primary;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .aboutFooter {
    padding: 24px;
    border-bottom: 1px solid $color-border;

    h2 {
      font-size: 32px;
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 24px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      color: #656565;
      margin-bottom: 24px;
    }

    ul { 
      li {
        line-height: 1.6;
        color: $color-text-secondary;
        list-style: none;
        font-size: 14px;
        font-weight: 400;
  
        a {
          color: $color-primary;
          text-decoration: none;
  
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
