@import '@/app/styles/variables.scss';
.aboutContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #070707;

  .aboutHeader {
    text-align: center;
    padding: 24px;
    border-bottom: 1px solid $color-border;

    h1 {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.4;
    }
  }

  .aboutMain {
    padding: 24px;
    border-bottom: 1px solid $color-border;

    h2 {
      font-size: 24px;
      font-weight: 500;
      color: #ff3939;
      margin-bottom: 12px;
    }

    ul { 
      li {
        line-height: 1.6;
        color: $color-text-secondary;
        list-style: none;
        font-size: 14px;
        font-weight: 400;
  
        a {
          color: $color-primary;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .aboutFooter {
    padding: 24px;
    border-bottom: 1px solid $color-border;

    h2 {
      font-size: 24px;
      font-weight: 500;
      color: #ff3939;
      margin-bottom: 12px;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      color: $color-text-secondary;
      margin-bottom: 12px;
    }

    ul { 
      li {
        line-height: 1.6;
        color: $color-text-secondary;
        list-style: none;
        font-size: 14px;
        font-weight: 400;
  
        a {
          color: $color-primary;
          text-decoration: none;
  
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
