@import '../styles/variables.scss';

.page {
  height: 100%;
  min-height: calc(100vh - 81px);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pageWrapper {
  width: 100%;
  height: 100%;
  border-left: 1px solid $color-border;
  border-right: 1px solid $color-border;
}

.blockContainer {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}





