@import '../styles/variables.scss';

.layout {
  background-color: $color-background;
  color: $color-text-primary;
}

.main {
  width: 100%;
  height: calc(100vh - 81px);
  padding: 0;
}

.mainContainer {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.mainWrapper {
  width: 100%;
  height: 100%;
  border-left: 1px solid $color-border;
  border-right: 1px solid $color-border;
  background-color: $color-background;
}
