@import '@/app/styles/variables.scss';

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: $border-width solid $color-border;
}

.pageTitle {
  font-size: $font-size-2xl;
  font-weight: bold;
  color: $color-text-primary;
}










