@import '@/app/styles/variables.scss';

.commentForm {
  border-bottom: $border-width solid $color-border;
  padding: 0 36px 36px 36px;
  margin-bottom: $spacing-lg;

  .title {
    font-size: $font-size-base;
    font-weight: 500;
    color: $color-text-primary;
    margin-bottom: $spacing-xs;
  }

  .formGrid {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
  }


  .checkbox {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
    margin-bottom: $spacing-md;
    font-size: $font-size-sm;
    color: $color-text-secondary;

    input[type="checkbox"] {
      width: auto;
      margin: 0;
    }
  }

}
