@import '@/app/styles/variables.scss';

.navLink {
  color: $color-text-secondary;
  text-decoration: none;
  font-size: $font-size-base;
  transition: color 0.2s ease;

  &:hover {
    color: $color-accent;
  }
}




