@import '@/app/styles/variables.scss';

.articlePage {
  .article {
    border-bottom: $border-width solid $color-border;

    .articleHeader {
      border-bottom: 1px solid $color-border;
      padding: 36px;
    }

    .articleTitle {
      font-size: $font-size-2xl;
      font-weight: bold;
      color: $color-text-primary;
      margin-bottom: 24px;
    }

    .articleMeta {
      color: $color-text-muted;
      font-size: $font-size-sm;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .articleViews {
        margin: 0;
      }
    }

    .articleContent {
      color: $color-text-secondary;
      line-height: $line-height-relaxed;
      font-size: $font-size-base;
      padding: 36px;

      h1 {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 32px;
        color: #ff3939;
      }

      h2 {
        font-size: 24px;
        color: #ffffff;
      }

      p {
        color: #6e6e6e;
        margin-bottom: $spacing-md;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .commentsSection {
    border-bottom: $border-width solid $color-border;

    .commentSectionHeader {
      padding: 36px;
    }

    .commentsTitle {
      font-size: $font-size-2xl;
      font-weight: bold;
      color: $color-text-primary;
    }
  }
}
