@import '@/app/styles/variables.scss';

.articleCard {
  &.topCard {
    border-right: 1px solid $color-border;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.2);
    }
  }

  .articleLink {
    height: 100%;
    padding: $spacing-md;
    text-decoration: none;
    color: $color-text-primary;
    display: block;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    color: $color-text-primary;
    margin-bottom: 14px;
    transition: color 0.2s ease;
  }

  .excerpt {
    color: $color-text-secondary;
    line-height: 1.4;
    font-size: 16px;
    margin-bottom: 64px;
  }

  .meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: $font-size-sm;
    color: $color-text-muted;
    flex-direction: column;
    gap: 12px;

    .date {
      margin: 0;
    }

    .stats {
      width: 100%;
      display: flex;
      gap: 24px;
      align-items: center;
      justify-content: flex-start;

      .views,
      .comments {
        margin: 0;
        white-space: nowrap;
      }
    }
  }
}
