@import '@/app/styles/variables.scss';

.topArticles {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid $color-border;

  .topArticlesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
