@import '@/app/styles/variables.scss';

.blockContainerArticles {
  width: 100%;
  border-bottom: 1px solid $color-border;
}

.topArticles {
  max-width: 1200px;
  margin: 0 auto;
  border-right: 1px solid $color-border;
  border-left: 1px solid $color-border;

  .topArticlesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
